@media screen and (max-width: 1080px) {
    #headerholder {
        padding:10px;
        box-sizing: border-box;
    }
    .content {
        width:100%;
    }
}

@media screen and (max-width: 650px) {
    #headerholder {
        position:relative;
        padding:5px;
        box-sizing: border-box;
    }

    #contentholder {
        margin-top:10px;
    }

    #header #sorting .toggleSorting {
        display:inline-block;
    }

    #header #sorting #options {
        overflow: hidden;
        height:0px;
        transition:height 0.5s ease;
    }

    #header #sorting .toggleSorting:focus + #options {
        height:170px;
    }

    #header #sorting .button {
        width:100%;
        box-sizing: border-box;
        border-radius: 0px;
        margin-top:5px;
        text-align: center;
    }

    .note {
        justify-content: space-between;
    }

    .note, #editnote label {
        flex-wrap: wrap;
        padding-bottom:15px;
    }

    .note .notebody, #editnote label span {
        order:1;
        flex:0 0 100%;
        margin-bottom:10px;
    }

    #editnote label input, #editnote label textarea {
        order:2;
    }

    .note .info {
        order:3;
        justify-content: flex-start;
    }

    .note .finished {
        margin-right:20px;
        text-align: left;
    }

    .note .remaining-time {
        width:auto;
    }

    .note .editnote {
        text-align: right;
        width:auto;
    }
}